<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.brianschaaf.feedyoursoul">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/dope_shit"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FeedYourSoul"
        tools:ignore="AllowBackup">
        <activity
            android:name=".DessertActivity"
            android:parentActivityName=".MainActivity"
            android:label="Desserts" />
        <activity
            android:name=".MainCourseActivity"
            android:label="Main Course"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StartersActivity"
            android:label="Small Plates"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>